body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E5E1DA;
    margin: 0px;
    padding: 3px;
    
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3e6e6;
    border-radius: 8px;
    box-shadow: 0 0 30px #ffa5c1;
}

h1{

    text-align:center;
    color:black;
    }
    
    
    
    legend{
        text-align:center;
        font-size: 20px;
        color:black;
        
    
    }
    
    
    
    label {
        display: block;
        margin: 20px 0px 10px 20px;
        font-weight: bold;
    
    }
    
    
    
    input, textarea, select {
        width: 90%;
        padding: 10px;
        margin-bottom: 15px;
        margin-left: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    
    
    }
    
    input[type="submit"] {
        background-color: #fa45c7;
        color: white;
        border: none;
        cursor: pointer;
        margin-left: 26px;
    
    }
    
    
    input[type="submit"]:hover {
        background-color: #fe4ce0;
    
    }